html{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{font-family: 'Source Sans Pro', sans-serif;}

header {
    padding: 0 .5rem;
    border-bottom: 1px solid black;
    nav {
        ul {
            list-style: none;
            li {
                a {
                    display:flex;
                    padding: 0.25rem 1rem;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    div.mobile-hamburger {
        display:none;
    }
}
@media only screen and (max-width: 768px){
    body {
        &.is-active {
            overflow: hidden;
        }
    }
    header {
        transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);

        &.is-active {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(2px);

            h3 {
                display: none;
            }

            nav {
                ul {
                    left:0; 
                }
            }
        } 

        nav {
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: absolute;

                height: 100vh;
                width: 100vw;

                margin: 0;
                padding: 0;
                top: 0;
                left: -101vw;
                
                li{
                    height: 1rem;
                    margin: 2.5rem 0 2.5rem 0;

                }
            }
        }
        div.mobile-hamburger{
            display:block;
        }
    }
}
#footer{
    min-height: 4em;
    background-color: teal;
    color:white;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    border-radius: 25px 0px 0px 0px;
}
.border-25 {
    border-radius: 25px 25px 25px 25px;
}
.bg-grey
{
    background-color: #959AA3;
}
.h-25
{
    height: 25%;
}
.h-50
{
    height: 50%;
}
.h-75
{
    height: 75%;
}
.h-100
{
    height: 100%;
}
.largepost
{
    //max-height: 50vh;
    width: 83%;
    height: 40%;
    font-size: 200%;
    overflow: hidden;
    span
    {
        margin-top: 20px;
    }

    .col-6
    {
    img
    {
        height: 80%;
        width: auto;
    }
}
}
.smallpost
{
    max-width: 35%;
    height: 20rem;
    font-size: 200%;
    overflow: scroll;
    img{
        height: 80%;
        width: auto;
    }
}

.floatl
{
    float: left;
}

.displayblock
{
    display: block;
}

.smalltxt
{
    font-size: 0.6em;
}

.m0tb
{
    margin-top: 0;
    margin-bottom: 0;
}

.archive{
    .largepost{
        height: 100vh;
        img{
            height: 100%;
        }
    }
}

 .btn
 {
     width: auto;
     height: 25px;
     background-color: red;
     color: white;
     border-radius: 45px;
 }
.block {
    width: 768px;
    height: 362px;
    background-color: #959AA3;
    overflow: visible;
    border-radius: 45px;
    text-align: center;
  }
.secondblock {
        width: 768px;
        height: 505px;
        background-color: #959AA3;
        overflow: visible;
        border-radius: 45px;
        text-align: center;
}
.thirdblock {
    width: 568px;
    height: 212px;
    background-color: #959AA3;
    overflow: visible;
    border-radius: 45px;
    text-align: center;
}
.smalblock {
    width: 768px;
    height: 150px;
    background-color: #959AA3;
    overflow: visible;
    border-radius: 45px;
    text-align: center;
    font-size: 200%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .normallink {
    color: black;
    text-decoration: none;
  }