html{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{font-family: 'Source Sans Pro', sans-serif;}

header {
    padding: 0 .5rem;
    border-bottom: 1px solid black;
    nav {
        ul {
            list-style: none;
            li {
                a {
                    display:flex;
                    padding: 0.25rem 1rem;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    div.mobile-hamburger {
        display:none;
    }
}
@media only screen and (max-width: 768px){
    body {
        &.is-active {
            overflow: hidden;
        }
    }
    header {
        transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);

        &.is-active {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(2px);

            h3 {
                display: none;
            }

            nav {
                ul {
                    left:0; 
                }
            }
        } 

        nav {
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: absolute;

                height: 100vh;
                width: 100vw;

                margin: 0;
                padding: 0;
                top: 0;
                left: -101vw;
                
                li{
                    height: 1rem;
                    margin: 2.5rem 0 2.5rem 0;

                }
            }
        }
        div.mobile-hamburger{
            display:block;
        }
    }
}
